<section class="about" id="about">
    <h4 class="about-title center">Hello</h4>
    <span class="dark-border"></span>
    <div class="about-para center hidden visible animated fadeIn">
        <p>My name is Sarah Bootsma. I'm a designer and illustrator from Ottawa, Canada. I'm a keen learner with a love for all types of design, but my greatest passions are mobile, branding, and illustration. I'm constantly energized by the creative process, and I strongly believe in quality over quantity. Aside from design, I enjoy thrift shopping, beanie collecting, tea drinking, and traveling.</p>
    </div>
    <div class="icons">
        <div class="icon-ill">
            <img class="icon-1 hidden visible animated fadeInUp" src="assets/img/ill-icon.svg" alt="Illustration Skill Icon">
            <p class="icon-title-1 hidden visible animated fadeInUp">Illustration</p>
        </div>
        <div class="icon-ill">
            <img class="icon-2 hidden visible animated fadeInUp" src="assets/img/brand-icon.svg" alt="Branding Skill Icon">
            <p class="icon-title-2 hidden visible animated fadeInUp">Branding</p>
        </div>
        <div class="icon-ill">
            <img class="icon-3 hidden visible animated fadeInUp" src="assets/img/mobile-web-icon.svg" alt="Mobile and Web Skill Icon">
            <p class="icon-title-3 hidden visible animated fadeInUp">Web &amp; Mobile</p>
        </div>
    </div>
</section>