<section class="work" id="work">
    <h4 class="work-title center">Work</h4>
    <span class="dark-border"></span>
    <ul class="grid thumb-style">
        <li ng-repeat="item in galleryItems" portfolio-item>
            <figure>
                <img ng-src="{{item.girdIcon}}" alt="{{item.title}} Thumbnail">
                <figcaption>
                    <h5 class="project-name">{{item.title}}</h5>
                    <h6 class="project-tag"><em>{{item.tags.join(", ")}}</em></h6>
                    <a href="#{{item.anchor}}" class="work-btn">View</a>
                </figcaption>
            </figure>
        </li>
    </ul>

    <div id="work-position">
        <div ng-repeat="item in galleryItems" class="work-details" id="{{item.anchor}}" data-state="closed" portfolio-close>
            <div class="work-details-btn">
                <button class="work-close">close</button>
            </div>
            <!--SLIDER-->
            <div class="proj-wrapper">
                <div class="flexslider">
                    <ul class="slides">
                        <li ng-repeat="image in item.images">
                            <img ng-src="{{image}}">
                        </li>
                    </ul>
                </div>
                <div class="project-desc">
                    <h5 class="project-title">{{item.title}}</h5>
                    <p class="project-info">{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>