<div class="header shrink">
    <div class="container clearfix">
        <h1 id="logo"><a href="index.html"><img src="assets/img/logo.svg" alt="Sarah Bootsma&#39;s logo" class="logo"></a></h1>
        <nav class="milli center">
            <a href="#about">About</a>
            <a href="#work">Work</a>
            <a href="#contact">Contact</a>
        </nav>
    </div>
</div>