@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body,
img{
    font-family: "brandon-grotesque",sans-serif;
    margin: 0;
    width: 100%;
}

.hidden{
    opacity:0;
}

.visible{
    opacity:1;
}


/* HEADER */

.header{
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.header.shrink{
    height: 70px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.header.shrink img{
    display: none;

}

.header.shrink nav{
    line-height: 2.5rem;
}

.logo{
    width: 100px;
    margin-top: .8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo:hover{
    -ms-transform: scale(1.1,1.1); 
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.header nav{
    line-height: 2rem;
}

.header nav a{
    margin-left: 20px;
    color: #38373d;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header nav a:hover{
    color: #e2a85d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*SECTIONS SMALL*/

.main-banner {
    background: transparent url("../img/banner-img.png") no-repeat center top;
    background-size: cover;
    padding: 5.5rem 0;
}

.intro-img{
    padding-top: 2rem;
    width: 100%;
}

#intro{
    margin-top: 10rem;
}

.welcome{
    color: #fff;
    font-size: 1rem; 
    text-align: center;
}

.welcome-desc{
    font-family: "freight-text-pro",sans-serif;
    color: #fff;
    margin-top: -1rem;
    text-align: center;
}

#about{
    background-color: #e2a85d;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

#work{
    background-color: #fff;
    width: 100%;
    padding: 6rem 0;
}

#contact{
    background-color: #42ae9a;
    width: 100%;
    padding: 4rem 0;  
}

.about-title{
    color: #38373d;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.about-para{
    font-family: "freight-text-pro",sans-serif;
    color: #38373d;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact-para-top{
    font-family: "freight-text-pro",sans-serif;
    color: #fff;
    padding-bottom: .5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.contact-para-btm{
    font-family: "freight-text-pro",sans-serif;
    color: #fff;
    margin-top: -1rem;
    margin-left: 10%;
    margin-right: 10%;
}

.work-title{
    color: #38373d;
    font-size: 1.8rem;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}

.contact-title{
    margin-top: 0;
    font-size: 1.8rem;
    color:#fff;
    padding-bottom: .5rem;
}

.contact-info{
    margin-top: .5rem;
}

.go-top{
    z-index: 1000;
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: #38373d;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover{
    border-radius: 15%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.dark-border{
    display: block;
    width: 60px;
    height: 4px;
    background: #38373d;
    margin: 0 auto;
    margin-top: -1.4rem;
}

.border{
    display: block;
    width: 60px;
    height: 4px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: -1.4rem;
}

.vimeo-link{
    padding-bottom: 1rem;
}

.vimeo-link a{
    text-decoration: none;
    color: #38373d;
    font-size: .8rem;
    margin-left: 1.1rem;
    font-weight: 500;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.vimeo-link a:hover{
    color: #e2a85d;
    border-bottom: 3px solid #e2a85d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*ICONS SMALL*/

.icon-contact{
    margin-top: 1.5rem;
}

.icon-hand{
    margin-left: 30%;
    width: 40%;
}

.icons{
    display: block;
    padding-top: 1.5rem;
}

.icon-1{
    width: 40%;
}

.icon-2{
    width: 40%;
}

.icon-3{
    width: 40%;
}

.icon-title-1{
    color: #38373d;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
}

.icon-title-2{
    color: #38373d;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
}

.icon-title-3{
    color: #38373d;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
}

.down-arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-bottom: 3rem;
    width: 10%;
}


/* THUMBS */

.grid{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

.grid li{
    display: inline-block;
    margin: 10px 5px 5px 5px;
    vertical-align: top;
    position: relative;
}

.grid figure{
    margin: 0;
    position: relative;
}

.grid figure img{
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #38373d;
    color: #000;
}

.grid figcaption h4{
    letter-spacing: .5px;
    font-style: italic;
    margin-top: -1rem;
    font-size: .9rem;
    font-weight: 100;
    padding-bottom: 1rem;
    color: #fff;
}
 
.grid figcaption a{
    margin-top: -1rem;
    text-align: center;
    padding: .7rem .4rem;
    border-radius: 50%;
    letter-spacing: 1px;
    font-size: .5rem;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.grid figcaption a:hover{
    color: #38373d;
    background-color: #fff;
}

.thumb-style figcaption{
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.thumb-style figure:hover figcaption,
.thumb-style figure.thumb-style figcaption{
    opacity: 1;
    transform: translate(7px, 7px);
    -webkit-transform: translate(7px, 7px);
    -ms-transform: translate(7px, 7px);
    -moz-transform: translate(7px, 7px);
    -o-transform: translate(7px, 7px);
}

.cs-style-1 figcaption h3{
    margin-top: 70px;
}
 
.cs-style-1 figcaption span{
    display: block;
}
 
.cs-style-1 figcaption a{
    margin-top: 30px;
}

.work-close{
    border:none;
    background-color: transparent;
    text-indent: 100%;
    padding: 0;
    margin-top: 4rem;
    cursor: pointer;
    background-image: url(../img/proj-esc.svg);
    background-size: contain;
    width: 30px;
    height: 30px;
}

button:focus{
    outline:0;
}

.work-details-btn{
    text-align: center;
    padding: 2em;
}

/* SLIDER */

.flexslider{
    width: 86%;
    display: block;
    border: none;
    margin-left: 7.5%;
}

.flex-control-nav{
    z-index: 400000;
    bottom: 1px;
}

.flex-control-paging li a{
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border:2px solid #fff;  
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active{
    background-color: #fff ;
}

/*PROJECT DESCRIPTION*/

.project-name{
    color: #fff;
    margin-top: 4rem;
}

.project-tag{
    font-family: "freight-text-pro",sans-serif;
    color: #fff;
    margin-top: -1rem;
    padding-bottom: 1rem;
}

.project-title{
    text-transform: uppercase;
    padding-top: 3rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #38373d;
}

.project-info{
    font-family: "freight-text-pro",sans-serif;
    color: #38373d;
    font-size: .8rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    margin-top: -1rem;
    padding-top: 1rem;
}

.project-desc{
    width: 86%;
    background-color: #fcfcfb;
    margin-left: 7.5%;
    padding-bottom: .5rem;
    margin-top: -1.5rem;
    height: auto;
    float: none;
}

.work-details{
    position: relative;
    overflow: hidden;
}

.work-details[data-state="closed"]{
    max-height: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.work-details[data-state="open"]{
    max-height: 70em;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

/* CONTACT */

.email{
    text-decoration: none;
    color: #fff;
}

.email:hover{
    color: #38373d;
    border-bottom: 4px solid #E8947D;
}

/*SOCIAL ICONS*/

.hide-text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.ease-all{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.social-wrap{
    margin-top: 1rem;
    overflow: hidden;
    padding: 10px 0;
}

.social{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    margin-bottom: .5rem;
    position: relative;
    float: left;
    left: 50%;
}

.social li{
    position: relative;
    float: left;
    right: 50%;
}


.social li a{
    display: inline;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    text-align: center;
    padding-top: 8px;
    
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    -ms-border-radius:20px;
    border-radius:20px;
    
    /*background-color: #222;*/
    -webkit-box-shadow: inset 0 0 0 40px #fff;
    -moz-box-shadow: inset 0 0 0 40px #fff;
    -o-box-shadow: inset 0 0 0 40px #fff;
    -ms-box-shadow: inset 0 0 0 40px #fff;
    box-shadow: inset 0 0 0 40px #fff;
    
    color: #42ae9a;
}

.social li a:hover{
    -webkit-box-shadow: inset 0 0 0 3px #fff;
    -moz-box-shadow: inset 0 0 0 3px #fff;
    -o-box-shadow: inset 0 0 0 3px #fff;
    -ms-box-shadow: inset 0 0 0 3px #fff;
    box-shadow: inset 0 0 0 3px #fff;
    color: #38373d;
}

/* FOOTER */

.footer{
    background-color: #fff;
}

.footer-copy{
    color: #38373d;
    text-align: center;
    font-size: .7rem;
    margin-top: 1.5rem;
}

@media only screen and (min-width: 30em){
.main-banner {
    padding: 7rem 0;
}
}

@media only screen and (min-width: 37em){

.main-banner {
    padding: 7rem;
}

.down-arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem;
    padding-bottom: 3rem;
    width: 6%;
}

.welcome{
    margin-top: 0;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.welcome-desc{
    margin-top: -1.7rem;
}

.work-close{
    margin-top: 5rem;
}

.header{
    width: 100%;
    height: 115px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink{
    height: 80px;
}

.logo{
    width: 115px;
    float: left;
    margin-left: 2rem;
    margin-top: -.3rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink img{
    display: block;
    margin-top: -.2rem;
    width: 70px;
}

.header nav{
    display: inline-block;
    float: right;
    margin-right:2.5rem;
}

.header nav a{
    line-height: 90px;
    margin-left: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink nav a{
    line-height: 50px;
}

/*SECTIONS MED/LRG */

.intro-img{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.about-title{
    margin-top: 1rem;
}

.work-title{
    margin-top: 1rem;
}

.contact-title{
    margin-top: 3rem;
}

#intro{
    margin-top: 7rem;
    position: relative;
    width: 100%;
}

#about{
    width: 100%;
    padding: 4rem 0;
}

#work{
    width: 100%;
    padding: 8.5rem 0;
}

.about-para{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    padding-top: 2rem;
}

.about-title{
    margin-top: 2.5rem;
}

.work-title{
    margin-top: -2rem;
}

.grid li{
    width: 45%;
}

.grid{
    margin-top: 2rem;
}

/*ICONS MD*/

.icons{
    padding-top: 2rem;
}

.icon-1{
    width: 70%;
}

.icon-2{
    width: 70%;
}

.icon-3{
    width: 70%;
}

.icon-ill{
    width: 30%;
    display: inline-block;
    padding: 0;
}

.icon-brand{
    margin:0;
    width: 30%;
    display: inline-block;
}

.icon-web{
    width: 30%;
    display: inline-block;
}

.icon-hand{
    margin-left: 37%;
    width: 25%;
}


/*SLIDER & DESC*/

.flexslider{
    width: 70%;
    margin-left: 15%;
    float: left;
}

.project-desc{
    float: left;
    margin-left: 15%;
    width: 70%;
}

.project-name{
    margin-top: 4.3rem;
}

.grid figcaption a{
    margin-top: -4rem;

}
}

@media only screen and (min-width: 45em){

#intro{
    margin-top: 6.5rem;
}

.welcome{
    font-size: 1.6rem;
}

.main-banner{
    padding: 11.5rem;
}

.down-arrow{
    width: 4%;
    margin-top: 1rem;
}

.about-para{
    margin-left: 10rem;
    margin-right: 10rem;
}

.grid li{
    width: 40%;
}

/*ICONS LRG*/

.icons{
    padding-top: 2rem;
}

.icon-1{
    width: 80%;
}

.icon-2{
    width: 80%;
}

.icon-3{
    width: 80%;
}

.icon-ill{
    width: 25%;
    display: inline-block;
    padding: 0;
}

.icon-brand{
    margin:0;
    width: 25%;
    display: inline-block;
}

.icon-web{
    width: 25%;
    display: inline-block;
}

.flexslider{
    width: 50%;
    margin-left: 25%;
}

.project-desc{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
}

@media only screen and (min-width: 53em){
.project-name{
    margin-top: 5.5rem;
}  

.icon-hand{
    margin-left: 40%;
    width: 20%;
}

}

@media only screen and (min-width: 58em){

.project-name{
    margin-top: 6rem;
    font-size: 1.5rem;
}

}

@media only screen and (min-width: 65em){

.welcome-desc{
    margin-top: -2rem;
}

.down-arrow{
    width: 2.6%;
    margin-top: -0.2rem;
    padding-top: 0;
}   

.work-close{
    margin-left: 3rem;
} 

.grid li{
    width: 20%;
}

.about-para{
    margin-left: 15rem;
    margin-right: 15rem;
}

.icon-ill{
    width: 20%;
    display: inline-block;
    padding: 0;
}

.icon-brand{
    margin:0;
    width: 20%;
    display: inline-block;
}

.icon-web{
    width: 20%;
    display: inline-block;
}

.about-para{
    margin-left: 15rem;
    margin-right: 15rem;
}

.intro-img{
    width: 80%;
    margin-top: 1rem;
    margin-left: 10%;
}

.flexslider{
    width: 40%;
    margin-left: 12%;
    margin-bottom: 0;
}

.proj-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.project-title{
    margin-top: -1rem;
}

.project-desc{
    padding-left: 1rem;
    width: 35%;
    margin-top: 0;
    margin-right: 12%;
    margin-left: 0;
}

.project-name{
    margin-top: 1rem;
    font-size: .9rem;
}

.project-tag{
    font-size: .7rem;
    margin-bottom: 3px;
}
}

@media only screen and (min-width: 70em){

.main-banner{
    padding: 13rem;
}

.project-name{
    margin-top: 1rem;
    font-size: .9rem;
}

.icon-hand{
    margin-left: 42.7%;
    width: 15%;
}

}

@media only screen and (min-width: 80em){

#intro{
    margin-top: 5.5rem;
}

.main-banner{
    padding: 16rem;
}

.welcome{
    font-size: 2rem;
}

.intro-img{
    width: 65%;
    margin-left: 17.5%;
}

.welcome-desc{
    margin-top: -1.7rem;
}

.down-arrow{
    padding-bottom: 4rem;
}

.project-name{
    margin-top: 3rem;
    font-size: .9rem;
}

.project-tag{
    margin-bottom: .5rem;
    font-size: .7rem;
}

.about-para{
    margin-left: 17rem;
    margin-right: 17rem;
}
}


