<section class="contact" id="contact">
    <h4 class="contact-title center">Let's Chat</h4>
    <span class="border"></span>
    <div class="icon-contact">
        <img class="icon-hand hidden visible animated bounce" src="assets/img/handshake.svg" alt="Contact Handshake Icon">
    </div>
    <div class="contact-info center">
        <p class="contact-para-top">I'm currently available for freelance requests.</p>
        <p class="contact-para-btm">If you'd like to dicuss a new project, please don't hesitate to drop me a line!</p>
    </div>
    <a class="email ease-all" href="mailto:hello@sarahbootsma.ca">
        <p class="zetta center">hello@sarahbootsma.ca</p></a>
    <div class="social-wrap">
        <ul class="social">
            <li>
                <a class="ease-all" href="http://www.behance.com/sarahbootsma" target="_blank">
                    <i class="fa fa-behance"></i>
                    <span class="hide-text">Vimeo</span>
                </a>
            </li>
            <li>
                <a class="ease-all" href="http://www.dribbble.com/sarahbootsma" target="_blank">
                    <i class="fa fa-dribbble"></i>
                    <span class="hide-text">Dribbble</span>
                </a>
            </li>
            <li>
                <a class="ease-all" href="http://vimeo.com/user16497048" target="_blank">
                    <i class="fa fa-vimeo-square"></i>
                    <span class="hide-text">Vimeo</span>
                </a>
            </li>
        </ul>
    </div>
</section>

<!--BACK TO TOP BTN AND FOOTER-->
<a href="#top" class="go-top" style="display: block;">TOP</a>
<section class="footer">
    <p class="footer-copy center tiny">©2014 Sarah Bootsma</p>
</section>